<?xml version="1.0" encoding="UTF-8" ?>
<config>
    <module>
        <esprit_livraison>
            <version>1.0.0</version>
        </esprit_livraison>
    </module>

    <frontend>
        <routers>
            <esprit_livraison>
                <use>standard</use>
                <args>
                    <module>esprit_livraison</module>
                    <frontName>livraison</frontName>
                </args>
            </esprit_livraison>
        </routers>
        <layout>
            <updates>
                <esprit_livraison>
                    <file>esprit_livraison.xml</file>
                </esprit_livraison>
            </updates>
        </layout>
    </frontend>

    <global>
        <blocks>
            <esprit_livraison>
                <class>Esprit_Livraison_Block</class>
            </esprit_livraison>
        </blocks>
        <models>
            <esprit_livraison>
                <class>Esprit_Livraison_Model</class>
                <resourceModel>esprit_livraison_resource</resourceModel>
            </esprit_livraison>
            <esprit_livraison_resource>
                <class>Esprit_Livraison_Model_Resource</class>
                <entities>
                    <commande>
                        <table>esprit_livraison_commande</table>
                    </commande>
                </entities>
            </esprit_livraison_resource>
        </models>
    </global>
</config>